body {
 background-color: wheat;
 text-align: center;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-content: center;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.square {
  background: #fff;
  border: 1px solid #999;
  font-size: 80px;
  font-weight: bold;
  line-height: 10px;
  height: 80px;
  width: 80px;
  float: none;
  padding: 0px;
  padding-bottom: 24px;
  text-align: 0px;
  text-align: center;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  
  /* flex-direction: column; */
  /* justify-content: space-around; */
  
}

.game-area {
  display: flex;
  justify-content: space-around;
  /* width: 80%; */
  /* margin: 0px auto 0px auto; */
}

.game-board {
margin-right: 95px;
min-width: 240px;
} 
/* .game-info {
  margin: auto;
} */

.winnerList {
  text-align: left;
  min-width: 175px;
}

.status {
  border: 1px solid #000;
  width: 19%;
  margin: 5px auto 0px auto;
  font-size: 20px;
  background-color: lightcyan;
}

ol {
  list-style: none;
}

.modal {
  top: 30%;
  left: 30%;
  position: absolute;
  width: 400;
  background-color: white;
  border: 2px solid #000;
  padding: (2, 4, 3);
}